<!doctype html>
<html lang="en">
  <head>

    <title>
      Tic Tac Toe
    </title>

    <link rel="stylesheet" href="static/colors.css">
    <link rel="stylesheet" href="static/stylish.css">

  </head>

  <body>
  <img style="float: left;" alt="" src="static/evil3.jpg" height="225" width="200"/>
  <img style="float: right;" alt="" src="static/evil.jpeg" height="225" width="200"/>
   <div class="container">
      <h1 class="bigtitle"><font color="red">Tic</font> Tac <font color="blue">Toe</font></h1>
      <table id="game-grid" class="centered">
	{% for row in grid %}
	{% set outer_loop = loop %}
	<tr>
	  {% for position in row %}
	  <td>
	    {% if position==1 %}
	    <div class="game-piece-red">
	    </div>
	    {% elif position==2 %}
	    <div class="game-piece-blue">
	    </div>
	    {% else %}
	    <div class="game-piece-empty">
	      <form action="" method="post">
		<button name="play" class="unbutton" type="submit" value="{{outer_loop.index0}},{{loop.index0}}"></button>
	      </form>
	    </div>
	    {% endif %}
	  </td>
	  {% endfor %}
	</tr>
	{% endfor %}
      </table>
      <img style="float: left;" alt="" src="static/evil.jpeg" height="225" width="200"/>
      <img style="float: right;" alt="" src="static/evil3.jpg" height="225" width="200"/>
      <div class="top-padded">
	{% if win == 1 %}
	Blue Wins! &nbsp
	{% elif win == -1 %}
	Red Wins! &nbsp
	{% endif %}

	{% if win == 0 or turn >= 9%}
	<a href="setup" id="play-again">Play again?</a>
	{% else %}
	<a href="restart">Restart</a>
	{% endif %}
      </div>
    </div>
  </body>

</html>
